.infobox{
  position: absolute;
  z-index: 5;
  top: 8%;
  left: 0.5%;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  font-family: 'Roboto','Arial','sans-serif';
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 6px 0 #555;
  margin-bottom: 0px;
  width: 342px;
};

